body {
  font-family: "Courier New";
background-image: url(../images/wallpaper.jpg);
  color: cyan;
 }
 a {
  text-decoration: none;
  color: gray;
}
#contact {
  color: limegreen;
  Background-color: #262626;
  border-color: lightgray;
  border-size: 3px;
}
pre {
  Background-color: #262626;
  color: limegreen;
}

#cover {
height: 300px;
}

.logo {
text-align: center;
}
.wrap li{ 
float: left;
width: 25%;
}